.profile__edit-button {
    box-sizing: border-box;
    margin-top: 6px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    transition: 0.2s opacity;
    background-color: transparent;
    padding: 0;
    display: flex;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        margin: 0;
        width: 18px;
        height: 18px;
    }
}