.gallery__heart {
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 0 20px 0 0;
    transition: 0.2s opacity;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}
